{% load static %}
<section class="Footer text-white text-center w-full py-8 px-8 flex flex-col justify-between items-center ">
    <div class="h-full md:h-2/3 w-full py-4 flex md:flex-row justify-between items-start flex-col">
        <div class="w-full md:w-1/3 py-4 text-left flex flex-col items-start mb-8 md:mb-0">
            <h2>Voyagez avec nous</h2>
            <a href="">Trajets populaires en covoiturage</a>
            <a href="">Destinations populaires en covoiturage</a>
        </div>
        <div class="w-full md:w-1/3 py-4 text-left flex flex-col items-start mb-8 md:mb-0 pl-4 lg:pl-0">
            <h2>Covoiturage</h2>
            <a href="">Abidjan → Bouaké</a>
            <a href="">Abidjan → Yamoussoukro</a>
            <a href="">Abidjan → Korhogo</a>
            <a href="">Abidjan → Man</a>
            <a href="">Abidjan → San Pedro</a>
        </div>
        <div class="w-full md:w-1/3 py-4 text-left flex flex-col items-start mb-8 md:mb-0">
            <h2>En savoir plus</h2>
            <a href="">Assurance et covoiturage</a>
            <a href="">Comment ça marche</a>
            <a href="">Qui sommes-nous ?</a>
            <a href="">Centre d'aide</a>
        </div>
    </div>
    <div class="h-1/4 md:h-full w-full flex flex-col lg:flex-row justify-between FooterNews">
        <div class="md:w-2/3 w-full flex flex-col items-start mb-4 md:mb-0 pr-4">
            <h2>Newsletter</h2>
            <p class="text-left text-white max-w-xl	">
                Abonnez-vous à notre newsletter pour une dose hebdomadaire
                des nouvelles, des mises à jour, des conseils utiles et
                offres exclusives.
            </p>
        </div>
        <form action="#" class="w-full md:w-2/3 lg:w-1/3 flex flex-row justify-center items-center">
            <input type="text" placeholder="Votre email" class="mr-1.5" required>
            <button type="submit" class="">SOUSCRIRE</button>
        </form>
    </div>
</section>

<section class="Copyright w-full h-12 bg-white-900 flex flex-row justify-between items-center px-8">
    <p class="text-xs">© 2024 SoTrip, All rights reserved.</p>
    <div class="icons flex flex-row justify-between items-center">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-github"></i>
    </div>
</section>
