<section class="NavLogOut font-semibold text-lg w-full h-24">
    <nav class="bg-white-900 w-full h-full px-6 flex justify-around items-center ">
        <!-- Logo -->
        <a href="#" class="mr-auto flex items-center">
            <img src="{% static 'images/Logo SoTrip.svg' %}" alt="Logo SoTrip" class="h-auto w-24">
        </a>
        <!-- Boutons -->
        <div class="hidden md:flex items-center justify-end space-x-4 w-5/6 h-full">
            <div class="flex items-center">
                <img src="{% static 'images/moteur-de-recherche.png' %}" alt="Search Icon" class="size-10">
                <a href="#" class="btn btn-primary LinkNavLogOut">Rechercher</a>
            </div>
            <div class="flex items-center">
                <img src="{% static 'images/plus.png' %}" alt="Logo SoTrip" class="size-10">
                <a href="#" class="btn btn-primary LinkNavLogOut">Publier un trajet</a>
            </div>
            <div class="flex items-center space-x-4">
                <button class="BtnNavLogOut hidden md:block"><a href="#">Se connecter</a></button>
                <button class="BtnNavLogOut hidden md:block"><a href="#">S'inscrire</a></button>
            </div>
        </div>
        <!-- Dropdown Menu -->
        <div class="md:hidden">
            <div class="menu-dropdown1 relative">
                <button id="hs-dropdown-custom-trigger1" type="button" class="">
                    <!-- Add your trigger icon here -->
                    <img src="{% static 'images/menu.png' %}" alt="Logo SoTrip" class="size-6">
                </button>
                <div class="absolute transition-opacity duration-200 origin-top-right top-10 right-0 w-48 py-2 bg-white shadow-md rounded-lg">
                    <!-- Dropdown items -->
                    <a href="#" class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-100 rounded-lg">Newsletter</a>
                    <div class="flex items-center">
                        <img src="{% static 'images/moteur-de-recherche.png' %}" alt="Search Icon" class="size-10">
                        <a href="#" class="btn btn-primary LinkNavLogOut">Rechercher</a>
                    </div>
                    <div class="flex items-center">
                        <img src="{% static 'images/plus.png' %}" alt="Logo SoTrip" class="size-10">
                        <a href="#" class="btn btn-primary LinkNavLogOut">Publier un trajet</a>
                    </div>
                    <button class="BtnNavLogOut block"><a href="#">Se connecter</a></button>
                    <button class="BtnNavLogOut block"><a href="#">S'inscrire</a></button>
                </div>
            </div>
        </div>
    </nav>
</section>

