@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.NavLogOut
{
    color: #4B77BB;
}

.BtnNavLogOut
{
    background-color: #4B77BB;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: 0.2s ease;
}

.BtnNavLogOut:hover,
.BtnNavLogOut:focus
{
    background-color: #5ed1ff;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
}

.BtnNavLogOutMin
{
    background-color: #4B77BB;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: 0.2s ease;
}

.BtnNavLogOutMin:hover,
.BtnNavLogOutMin:focus
{
    background-color: #5ed1ff;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
}

.LinkNavLogOut
{
    transition: 0.2s ease;  
}
.LinkNavLogOut:hover
{
    color: #5ed1ff;
    font-weight: 600;
    font-size: 18px;
}

.Footer
{
    background-color: #4B77BB;
    min-height: 500px;
}
.Footer h2
{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.Footer a
{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.Footer a:hover
{
    color: #5ed1ff;
    transition: 0.2s ease;  
}

.FooterNews input {
  border-radius: 5px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.FooterNews input::placeholder {
  color: #ccc;
}

.FooterNews form button {
    background-color: #fff;
    color: #4B77BB;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: 0.2s ease;
}

.FooterNews form button:hover {
    background-color: #5ed1ff;
    color: white;
}

.Copyright p {
    color: #afb6c7;
}

.Copyright .icons {
  gap: 30px;
  cursor: pointer;
}

.Copyright .icons i {
  color: #afb6c7;
  transition: 0.2s ease;
}

.Copyright .icons i:hover  {
  color: #5ed1ff;
}

@media (min-width: 865px) {
  .mdc\:mb-0 {
    margin-bottom: 0px;
  }

  .mdc\:block {
    display: block;
  }

  .mdc\:flex {
    display: flex;
  }

  .mdc\:hidden {
    display: none;
  }

  .mdc\:h-2\/3 {
    height: 66.666667%;
  }

  .mdc\:h-full {
    height: 100%;
  }

  .mdc\:w-1\/3 {
    width: 33.333333%;
  }

  .mdc\:w-2\/3 {
    width: 66.666667%;
  }

  .mdc\:flex-row {
    flex-direction: row;
  }
}
